.search_engine {
  flex: 8;
  height: 30px;
  width: 120vh;
  background-color: gray;
  padding-left: 1vh;
  border-radius: 5px;
  border-style: none;
  background-color: #445a9a;
}

.search_container {
  display: flex;
  height: 5vh;
  align-items: center;
  margin-bottom: 50px;
  background-color: #172242;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: 8vh;
  margin-right: 8vh;
}

.search_icon {
  flex: 1;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.like_filter {
  flex: 1;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.gap {
  flex: 10;
}

.search_engine::placeholder {
  color: #afb1b6;
  opacity: 1;
}

.filter_options {
  position: fixed;
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  top: 13%;
  left: 46%;
  background-color: #172242;
  height: 200px;
  width: 135px;
  border-style: solid;
  border-color: #24366b;
}

.tile {
  cursor: pointer;
}
