#flex {
  display: flex;
  flex-direction: column;
}

.title {
  height: 7vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8vh;
  margin-right: 8vh;
  border-bottom: 1px solid #fafafa;
}

.logo {
  font-size: 24px;
}

.userLogo {
  background-color: green;
}

.search_engine {
  flex: 8;
  height: 3vh;
  width: 120vh;
  background-color: gray;
  border-radius: 5px;
  border-style: none;
}

.search_container {
  display: flex;
  height: 4vh;
  align-items: center;
  margin-bottom: 50px;
  background-color: #172242;
  border-radius: 10px;
  margin-left: 8vh;
  margin-right: 8vh;
}

.search_icon {
  flex: 1;
  height: 3vh;
}

.like_filter {
  flex: 1;
  height: 3vh;
}

.gap {
  flex: 10;
}
